* {
  background-color: rgb(218, 196, 239);
  box-sizing: border-box;
}
ul {
  font-size: 2rem;
  list-style-type: none;
}
li {
  font-size: 1em;
}
.square-big {
  background-color: brown;
  width: 50vw;
  height: 200px;
}
.square-small {
  background-color: cadetblue;
  width: 50%;
  height: 25%;
}
section {
  margin: 20px 0;
}
